<div class="container row text-center">
    <div class="col-12">
        <h4 class="order-title">OOPS! Not Items Found</h4>
        <br />
        <hr class="order-divider" />
    </div>
    <div class="col-12">
        <img src="~/Images/no-results.png" class="img-fluid mx-auto d-block" alt="No Item image" width="200px" />

    </div>
</div>