<br />
<br />

<table id="p" class="table table-striped table-hover table-bordered mb-0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Order Status</th>
            <th>Total Price</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/orders.js"></script>
}
