html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.custom-cart-btn {
    color: #0a3d62; 
    border-color: #0a3d62; 
    text-decoration: none;
    transition: all 0.3s ease;
}

    .custom-cart-btn:hover {
        background-color: #0a3d62; 
        color: #ffffff;
    }

    .custom-cart-btn .badge {
        background-color: #ffffff;
        color: #0a3d62; 
    }


/*

*/

.custom-btn {
    color: #1d6999;
    border-color: #1d6999;
    text-decoration: none;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #1d6999;
    color: #ffffff;
}
.custom-heart-btn {
    color: #1d6999; 
    border-color: #1d6999;
    text-decoration: none;
    transition: all 0.1s ease;
}

    .custom-heart-btn:hover {
        background-color: #ff4d4d; 
        color: #ffffff;
        border-color: #ff4d4d; 
    }

.header-background {
    background-image: url('/assets/images/Handmade2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #bcd3f7;
}

.navbar-brand {
    color: #f0f0f5;
    font-weight: bold;
}

    .navbar-brand:hover {
        color: #09264f;
        font-weight: bold;
    }

.navbar-nav {
    color: #ffffff;
}
.nav-link {
    color:#0a3d62
}

    .navbar-nav .nav-link:hover {
        color: #3c41c9; 
        font-size: larger;
        transition: color 0.3s ease, font-size 0.3s ease; 
    }

header {
    background: linear-gradient(to right, #d0ebff, #c3f9d1);
    color: #333;
}

    header h1 {
        color: #1e478a;
        text-shadow: 3px 0px #5f5280;
    }

    header p {
        color: #5f5280;
    }

.btn-primary {
    background-color: #ff6f61;
    border-color: #ff6f61;
}

    .btn-primary:hover {
        background-color: #ff8c69;
        border-color: #ff8c69;
    }

footer {
    background-color: #95b7ed;
    color: #09264f;
}

    footer p {
        margin: 0;
    }

.non-decoration {
    text-decoration: none;
}

a {
    color: #ffffff;
}


    a:hover {
        color: #ffdab9;
    }
